.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.pink {
  background-color: hotpink;
}

.darkpurple {
  background-color: #871f78;
}
